body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #CC5803 ;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 10px;
    margin-right: 200px;
}

nav a {
    text-align: center;
    background-color: #E2711D;
    color: #FFB627;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    text-decoration: none;
    background-color: #FF9505;
    color: aliceblue;
}


main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.hero-section {
    width: 95vw;
    background-image: url("../images/reading_scriptures.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 5vh;
}

.objectives-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.objectives-section div {
    display: flex;
    flex-direction: column;
}

.cta-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.cta-section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #CC5803 ;
}

footer div.social-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}